

body{
  color: #343434;
}

button{
  font-size: 1rem;
}

#gameContainer{
  text-align: center;
  width: 450px;
  height: 620px;
  background-color: #FFEA06;
  border: 2px solid #343434;
}

#welcomeUI{
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #FFEA06;
  display: flex;
  flex-direction: column;
}

#welcomeUI img{
  width: 100%;
  height: 40%;
}

#welcomeUI h2{
  width: 70%;
  margin: 4% 17%;
  font-size: 1.8em;
}

#welcomeUI input, button {
    height: 10%;
    width: 50%;
    margin: 4% 25%;
    text-align: center;
    color: #343434;
    border: 2px solid #343434;
    background-color: inherit;
    border-radius: 10px;
    font-size: 1.3rem;
}

#welcomeUI button{
  margin: 2% 26%;
  border: 2px solid #343434;
  font-weight: bolder;

}

/***************************************/
#welcomeMsg{
  text-align: center;
  width: 85%;
  height: 75%;
  background-color: #FFEA06;
  display: flex;
  flex-direction: column;
  padding-top: 25%;
  padding-left: 15%;
}

#welcomeMsg h3, #welcomeMsg h4, #welcomeMsg h1, #welcomeMsg h2{
  max-width: 80%;
  text-align: center;
  height: 10%;
}

#welcomeMsg h1{
    font-size: 1.4;
}


/***************************************/

#playGroundUI{
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #FFEA06;
  display: flex;
  flex-direction: column;

}

#playersInfo{
  height: 14%;
  display: flex;
  color: #343434;
  font-size: 1em;
}

#playersInfo div{
  width: 100%;
}

#vs{
  flex-basis: 20%;
}

#vs h3{
    margin: 9%;
}

.player{
  display: flex;
  border-bottom: 2px solid #343434;
  flex-basis: 40%;
}

.player span{
    color: #0698ff;
}



.player img{
  margin: 5%;
  width: 35%;
  border-radius: 50%;
  border: 2px solid #0698ff;
}

.info{
  width: 70%;
  height: 100%;
  margin: 0;
}

.info h3, .info h4{
  width: 95%;
  margin: 12% 0;
  text-align: left;
  padding: 0 5%;
}

#resaults{
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;

}

#playersChoices{
  display: flex;
  width: 100%;
  height: 70%;
}

#playerSide, #oponentSide{
  width: 50%;
  height: 100%;
}

#playerChoiceDisplay, #oponentChoiceDisplay{
  width: 100%;
  height: 100%;
  /*position: absolute;
  transform: translateX(60px);*/
  font-size: 5rem;
  opacity: 0;
}

#resaultSection{
  width: 100%;
  height: 20%;
  font-size: 1.8rem;
}

#choices{
  height: 18%;
  display: flex;
  justify-content: space-around;
}

#choices button{
    height: 80%;
  width: 20%;
  margin: 2% 0;
  border-radius: 50%;
  border: 2px solid #343434;
  background-color: inherit;
  font-weight: bold;
  color: #343434;
  font-size: 3rem;
  opacity: 1;
}

#choices button:disabled{
    opacity: 0;
}

#gameOverMsg{
  width: 100%;
  height: 78%;
  background-color: #FFEA06;
}

#gameOverMsg h2, #gameOverMsg h1{
  width: 100%;
  height: 10%;
  text-align: center;
  padding-top: 2%;
}

#gameOverMsg h2{
  margin-top: 20%;
}

#gameOverMsg button{
  padding: 0;
  width: 70%;
  height: 15%;
  margin: 5% 14%;
  text-align: center;
  font-weight: bold;
  color: #343434;
  border: 2px solid #343434;
  background-color: inherit;
  border-radius: 10px;
}

@media (max-width: 450px) {
  #gameContainer{
    width: 94vw;
    height: 150vw;
    
  }
  button{
    font-size: 1rem;
  }
  
  #playersInfo{
      height: 12%;
  }
  
  #choices{
      height: 15%;
  }

}

@media (max-width: 350px) {
  #gameContainer{
    
    font-size: 0.7rem;
  }
  button{
    font-size: 0.7rem;
  }
}

@media (max-width: 250px) {
  #gameContainer{
    
    font-size: 0.5rem;
  }
  button{
    font-size: 0.5rem;
  }
}

@media (max-width: 150px) {
  #gameContainer{
   
    font-size: 0.3rem;
  }
  button{
    font-size: 0.3rem;
  }
}
